body
{
     
     background:url(./registration.jpg);
     background-repeat: no-repeat;
     background-size: cover;
}
#heading
{
    height:73px;
    width:550px;
    background:lavenderblush;
    color:violet;
    margin:auto;
    margin-top:53px;
    border-radius: 80%;
    margin-bottom: 2%;
    border: 3.5px solid lightseagreen;
}
#heading h1
{
  text-align: center;
  padding-top: 3%px;
  font-style:italic;
}
form
{
    background:lightcyan;
    height:740px;
    width:460px;
    margin:auto;
    margin-top: 10px;
    padding-top:2%;
    padding-left: 8%;
    
}
#submit
{
   text-align:right ;
   padding-right: 20%;
}
#sucess
{
  background:plum;
  text-align: center;
  padding-top: 5%;
}
#sh1
{
  height:90px;
  width:650px;
  background: white;
  border:3px solid green;
  text-align: center;
  margin:auto;
  
  font-style: oblique ;
  
}